.suggest{
    width:20%;
    background-color:#fff;
    border:1px solid #999;
}
.suggest ul{
    list-style:none;
    margin:0;
    padding:0;
}
.suggest ul li{
    padding:3px;
    font-size:14px;
    line-height:25px;
    cursor:pointer;
}
.liColor{
    background-color: #e5e5e5;
}
.suggest ul li:hover{
    text-decoration:underline;
    background-color:#e5e5e5;
}